* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* WRAPPER */
.admin-layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

/* SIDEBAR */
.sidebar {
  width: 250px;
  background-color: #ffeccd;
  color: #000;
  padding: 20px;

  display: flex;
  flex-direction: column;

  flex-shrink: 0;

  /* biar stay saat scroll */
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
}

.sidebar-title {
  color: #d00000;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.sidebar-menu {
  list-style: none;
  flex-grow: 1;
}

.sidebar-menu li {
  margin-bottom: 15px;
}

.sidebar-menu a {
  color: #000;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
}

.sidebar-menu a:hover {
  background-color: #d00000;
  color: #000;
}

.logout-btn {
  background-color: #d00000;
  color: #000;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

/* KONTEN KANAN */
.admin-content {
  flex: 1;
  min-width: 0;       /* penting agar tabel tidak maksa melebar */
  background-color: #ffdfae;
  padding: 20px;
  overflow: auto;     /* scroll di kanan */
}
