* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.admin-layout {
  display: flex; 
  min-height: 100vh;
  width: 100%;
}

.sidebar {
  width: 250px;
  background-color: #ffeccd;
  color: rgb(0, 0, 0);
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.sidebar-title {
  color: #d00000; /* Pink */
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.sidebar-menu {
  list-style: none;
  flex-grow: 1;
}

.sidebar-menu li {
  margin-bottom: 15px;
}

.sidebar-menu a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
}

.sidebar-menu a:hover {
  background-color: #d00000;
  color: black;
}

.logout-btn {
  background-color: #d00000;
  color: black;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.admin-content {
  flex: 1;
  background-color: #ffdfae; /* Pink sangat muda */
  padding: 20px;
}